body{
    background-color: darkblue;
    background-image: url(../img/waves.jpg!d);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65% 50%;
    background-attachment: fixed;

     
    
       
}
h1{
  font-size: 5em;
  font-style: Italic;
  font-weight: bold;
  color: blue;
  text-align: center;
  text-decoration: underline;
  background-color:turquoise;
  border: .25em solid black;
  border-radius: 10px;
  text-shadow: 4px 4px red;
  height: 1.5em;
  line-height: 1.5em;

}

h2{
    color: darkgreen;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    text-decoration-line: underline;
    
}
#bio{
    color: rgb(39, 39, 19);
    margin-left: 200px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    
   }
.bio{
    color: rgb(39, 39, 19);
    margin-left: 200px;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

#question_1{
font-size: 2em;
color: aqua;
text-align:center;
font-weight: bold;
}

#question_2{
font-size: 2em;
color:coral;
text-align:center;
font-weight: bold;
}

#question_3{
font-size: 2em;
color: darkblue;
text-align:center;
font-weight: bold;
}

#question_4{
font-size: 2em;
color:rgb(107, 27, 131);
text-align:center;
font-weight: bold;
}

#question_5{
font-size: 2em;
color: rgb(221, 85, 6);
text-align:center;
font-weight: bold;
}

#question_6{
font-size: 2em;
color: rgb(133, 67, 180);
text-align:center;
font-weight: bold;
}

#question_7{
font-size: 2em;
color: indigo;
text-align:center;
font-weight: bold;
}


h3{
color: darkgreen;
text-align: center;
font-size: 3em;
font-weight: bold;
text-decoration-line: underline
}

#top10{
color: lawngreen;
padding-left: 43%;
font-size: 2em;
font-weight: bold;

}

#footer{
bottom: 0;
width: 100%;
text-align:center;
}

p.solid {
    border-style: solid;
}

hr{
    width: 25%;  
}

